<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ExpenSense - Registro</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap" rel="stylesheet">
</head>
<body>

    <div class="login-box">
        <h1 class="logo">Expen<span>Sense</span></h1>
        <p class="subtitle">Crea tu cuenta y toma el control.</p>

        <div th:if="${error}" th:text="${error}" class="error-msg"></div>
        <div th:if="${message}" th:text="${message}" class="alert-success"></div>

        <form method="post" action="/web/user/create">
            <div class="input-group">
                <label>Nombre de usuario</label>
                <input type="text" name="username" placeholder="Ej: JuanPerez" required/>
            </div>

            <div class="input-group">
                <label>Email</label>
                <input type="email" name="email" placeholder="tu@email.com" required/>
            </div>

            <div class="input-group">
                <label>Contraseña</label>
                <input type="password" name="password" placeholder="••••••••" required/>
            </div>

            <div class="input-group">
                <label>Balance Inicial (€)</label>
                <input type="number" name="balance" step="0.01" value="0.00" class="input-balance"/>
            </div>

            <button type="submit" class="btn-login">Crear cuenta</button>
        </form>
        
        <div class="footer">
            ¿Ya tienes cuenta? <a href="/web/auth/login">Inicia sesión</a>
        </div>
    </div>

</body>
</html>