# Maven build folder
target/

# Compiled class files
*.class

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Logs
*.log

# IDEs
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Maven compiler plugin temporary files
**/target/maven-status/maven-compiler-plugin/**/*.lst

# Surefire test reports
**/target/surefire-reports/**

# Virtual machine crash logs
hs_err_pid*
replay_pid* 